#frontTxt {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    line-height: 4.5;
    margin-bottom: 40vh;
    margin-top: 40vh;
    text-align: center;
    background-color: #ff7575;
}

.explain {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.explainTxt {
    flex: 1;
}

.explainVid {
    flex: 1;
}

.explainVid iframe {
    width: 100%;
    height: 360px;
}

#explainImg1 {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.wishlistMain {
    margin-top: 10vh;
}

.wishlistMain > p {
  text-align: center;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: #fffd89;
}

.wishlistContingency > p {
  text-align: center;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: #89ffa1;
}

.contingencyBox {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

#divorce {
  width: 100%;
  height: 30vh;
  border-radius: 12px;
}

.wishlistBox1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.wishlistBox2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.item {
  background: #fafafa;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.item img {
  width: 100%;
  height: 180px;      
  object-fit: contain;   
  border-radius: 10px;
  margin-bottom: 10px;
}